<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
  <p-card header="Registro" [style]="{ width: '360px' }">
    <div class="field">
      <label for="Name">Nombre</label>
      <input
        type="text"
        pInputText
        formControlName="Name"
        class="w-full"
        name="Name"
        placeholder="Pablito"
      />
      <small
        *ngIf="Name.invalid && (Name.dirty || Name.touched)"
        class="block p-error"
      >
        <div *ngIf="Name.errors?.['required']">El nombre es requerido.</div>
        <div *ngIf="Name.errors?.['pattern']">EIngresa un nombre valido</div>
      </small>
    </div>


    <div class="field">
      <label for="lastName">Apellido</label>
      <input
        type="text"
        pInputText
        formControlName="lastName"
        class="w-full"
        name="lastName"
        placeholder="Cardenas Osorio"
      />
      <small
        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        class="block p-error"
      >
        <div *ngIf="lastName.errors?.['required']">El apellido es requerido.</div>
        <div *ngIf="lastName.errors?.['pattern']">Enter a valid lastName</div>
      </small>
    </div>


    <div class="field">
      <label for="user">Usuario</label>
      <input
        type="text"
        pInputText
        formControlName="user"
        class="w-full"
        name="user"
        placeholder="Minino123"
      />
      <small
        *ngIf="user.invalid && (user.dirty || user.touched)"
        class="block p-error"
      >
        <div *ngIf="user.errors?.['required']">uUsuario es requerido.</div>
        <div *ngIf="user.errors?.['pattern']">Ingresa un usuario valido</div>
      </small>
    </div>


    <div class="field">
      <label for="password">Contraseña</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Casa123456+"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Contraseña es requerida.</div>
      </small>
    </div>
    <div class="field">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <input
        type="password"
        pInputText
        formControlName="confirmPassword"
        class="w-full"
        name="confirmPassword"
        placeholder="Casa123456+"
      />
      <small
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched)
        "
        class="block p-error"
      >
        <div *ngIf="confirmPassword.errors?.['required']">
          Confirm the password
        </div>
      </small>
      <small
        class="block p-error"
        *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
      >
        Password should match
      </small>
    </div>
    <p-button
      label="Register"
      styleClass="w-full"
      [disabled]="registerForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2">¿Ya estas registrado? <a routerLink="/login">Login</a></div>
  </p-card>
</form>
