
<form [formGroup]="typeUserForm" (ngSubmit)="onSubmit()">
    <p-card header="Bitacora" [style]="{ width: '800px', 'text-align': 'center'  }">
      <div class="table-container">
    <div class="table-row table-header">
      <div class="table-cell">ID</div>
      <div class="table-cell">FECHA INICIO</div>
      <div class="table-cell">CLIENTE</div>
      <div class="table-cell">ESTADO</div>
    </div>
  
    <div class="table-row" *ngFor="let item of bitacoraItems">
      <div class="table-cell">{{ item.id }}</div>
      <div class="table-cell">{{ item.fechaEntrada }}</div>
      <div class="table-cell">{{ item.usuario.nombre }}</div>
      <div class="table-cell">{{ item.estado.nombre }}</div>
    </div>
  
    <div class="table-row">
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell">
        <p-button
         label="Regresar"
         styleClass="w-full"
         (click)="goToRouteRegresar()"
         [style]="{ 'background-color': '#007bff0a', 'color': '#222121', 'border-color': '#007bff09' }"
  ></p-button>
      </div>
    </div>
  </div>
  
    </p-card>
  </form>
  
  
