<section>
  <p-card header="Usuario {{nombreUsuario}}" [style]="{ width: '360px' , 'text-align': 'center' }">
    <div class="field">
      <!-- Botones para redireccionar a otras páginas -->

      <a routerLink="/bitacoracliente">
        <p-button label="Agendar Revisiones " styleClass="w-full" type="submit"
          [style]="{ 'background-color': '#007bff0a', 'color': '#222121', 'border-color': '#007bff09' }"></p-button>
      </a>
    </div>
    <div class="field">
      <a routerLink="/agendaporcliente">
        <p-button  label=" lista de revisiones " styleClass="w-full" type="submit"
          [style]="{ 'background-color': '#007bff0a', 'color': '#222121', 'border-color': '#007bff09' }"></p-button>
      </a>
    </div>
    <div class="field">
      <a routerLink="/login">
        <p-button (click)="logOut()" label="Cerrar Sesion" styleClass="w-full" type="submit"
          [style]="{ 'background-color': '#007bff0a', 'color': '#222121', 'border-color': '#007bff09' }"></p-button>
      </a>
    </div>
  </p-card>
</section>