<!--<form [formGroup]="typeUserForm" (ngSubmit)="onSubmit()">
  <p-card header="Descripción" [style]="{ width: '360px', 'text-align': 'center' }">
    <div class="field" *ngFor="let opcion of opciones">
      <input type="checkbox" id="miCheckbox{{ opcion.value }}" name="miCheckbox" [value]="opcion.value" class="bigText">
      <label for="miCheckbox{{ opcion.value }}"> {{ opcion.label }}</label>
    </div>
  </p-card>
</form>-->
<!--<form [formGroup]="typeUserForm" (ngSubmit)="onSubmit()">
  <p-card header="Descripción" [style]="{ width: '360px', 'text-align': 'center' }">
    <div class="field" *ngFor="let opcion of opciones">
      <input type="checkbox" id="miCheckbox{{ opcion.value }}" name="miCheckbox" [value]="opcion.value" class="bigText">
      <label for="miCheckbox{{ opcion.value }}"> {{ opcion.label }}</label>-->
      <!-- Campo de entrada oculto para almacenar el valor numérico -->
     <!--> <input type="hidden" [formControlName]="opcion.value" [value]="convertirValor(opcion.value)">
    </div>
  </p-card>
</form>-->
<form [formGroup]="typeUserForm" (ngSubmit)="onSubmit()">
  <p-card header="Descripción Celular" [style]="{ width: '360px', 'text-align': 'left'  }">
    <div class="field" *ngFor="let opcion of opciones">
      <input type="checkbox" id="miCheckbox{{ opcion.value }}" name="miCheckbox" [value]="convertirValor(opcion.value)" class="bigText"
      >
      <label for="miCheckbox{{ opcion.value }}"> {{ opcion.label }}</label>
    </div>
     <div class="form-group">
        <label for="Observaciones">DESCRIPCION</label>
        <p><textarea id="observacion" name="description" class="custom-textarea"
      rows="6" placeholder="Ingresa tu texto aquí" styleClass="w-full"
       [style]="{ width: '360px' ,'text-align': 'center'}"></textarea></p>
      </div>
       <div class="form-group">
        <label for="Mejoras">DESCRIPCION</label>
        <p><textarea id="mejora" name="description" class="custom-textarea"
      rows="6" placeholder="Ingresa tu texto aquí" styleClass="w-full"
       [style]="{ width: '360px' ,'text-align': 'center'}"></textarea></p>
      </div>
      <div class="field">

      <p-button
        label="Enviar"
         styleClass="w-1/2"
         type="submit"
        [style]="{ 'background-color': '#007bff0a', 'color': '#222121', 'border-color': '#007bff09' }"
></p-button>


      <p-button
       label="Cancelar"
       styleClass="w-1/2"
       type="submit"
       [style]="{ 'background-color': '#007bff0a', 'color': '#222121', 'border-color': '#007bff09' }"
></p-button>


  </div>
  <div class="field">
  <p-button
       label="Cerrar Sesion"
       styleClass="w-full"
       type="submit"
       [style]="{ 'background-color': '#007bff0a', 'color': '#222121', 'border-color': '#007bff09' }"
></p-button>
</div>
  </p-card>
</form>




